@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&display=swap');

:root {
    --section-padding-top: 190px;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #16161d;
}
h2 a {
    text-decoration: none;
    color: white;
}
section {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 20px 40px 40px;
    border-radius: 0 0 0 70px;
    transform: all 1s ease;
}
section:not(:last-of-type) {
    box-shadow: 0 3px 5px #2e2759;
}
section:nth-of-type(1) {
    background-color: white;
    z-index: 100;
}
section:nth-of-type(2) {
    background-image: linear-gradient(190deg, midnightblue, midnightblue, darkslateblue, #5b4eb1);
    z-index: 10;
    padding-top: var(--section-padding-top);
}
section:nth-of-type(3) {
    background-image: linear-gradient(190deg, #1f0a29, #1f0a29, RebeccaPurple, darkorchid, mediumorchid);
    padding-top: calc(var(--section-padding-top) * 1.9);
}
section img {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid lavender;
    border-radius: 100px;
    margin: 0 10px;
    padding: 10px;
}
section h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-right: 50px;
}
section h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    margin: 0;
    padding-right: 50px;
    cursor: pointer;
}
section p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    color: white;
}
section:nth-of-type(1) p {
    color: black;
}